/*
* # KETL Sàrl
* custom css
* APP CSS
*/

/* GENERAL */
body{
   font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif; font-style: normal;
   background-color: #eff5f8;
}
.pt-2 {
   padding-top: 2rem;
}